.flex { display: flex; flex-direction: column; justify-content: flex-start; align-items: center; }
.flexRow { display: flex; flex-direction: row; justify-content: flex-start; align-items: center; }
.flexRow.reverse { flex-direction: row-reverse; }
.flex-jcenter {justify-content: center;}
.flex-jend {justify-content: flex-end;}
.flex-jbetween {justify-content: space-between;}
.flex-acenter {align-items: center;}
.flex-astart {align-items: flex-start;}
.flex-astretch {align-items: stretch;}
.flex-1 {flex: 1}
.flex-2 {flex: 2}
.self-center {align-self: center;}
.self-start {align-self: flex-start;}
.self-end {align-self: flex-end;}
